body {
    font-family: 'Arial', sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
}

.login-container {
    width: 100%;
    max-width: 400px;
    margin: 100px auto;
    background-color: #fff;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
    text-align: left;  /* Canh trái các phần tử bên trong */
}

h2 {
    font-size: 1.5em;
    margin-bottom: 20px;
    color: #333;
    text-align: center;
}

label {
    display: block;
    margin-bottom: 5px;  /* Thêm khoảng cách dưới label */
    font-weight: bold;
    color: #333;
}

.login-container input[type="text"], input[type="password"] {
    width: 100%;
    padding: 12px;
    margin: 10px 0 20px 0;  /* Thêm margin dưới để tạo khoảng cách */
    border: 1px solid #ccc;
    border-radius: 6px;
    font-size: 1em;
    box-sizing: border-box;
    transition: border-color 0.3s ease;
}

input[type="text"]:focus, input[type="password"]:focus {
    border-color: #4CAF50;
    outline: none;
}

button {
    width: 20%;
    padding: 8px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 6px;
    font-size: 1.1em;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #45a049;
}

.error {
    color: red;
    font-size: 0.9em;
    margin-top: 10px;
}

.products-container {
    width: 80%;
    margin: 30px auto;
    padding: 30px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
}

.products-container h2 {
    font-size: 1.8em;
    color: #333;
    margin-bottom: 20px;
}

.search-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px; /* Khoảng cách giữa các phần tử */
    margin-bottom: 20px;
}

.search-container input,
.search-container button {
    width: 23%; /* Đảm bảo các phần tử chiếm đều không gian */
    padding: 10px;
    font-size: 1em;
    border: 1px solid #ccc;
    border-radius: 6px;
    box-sizing: border-box;
}

.search-container button {
    background-color: #4CAF50;
    color: white;
    border: none;
    cursor: pointer;
}

.search-container button:hover {
    background-color: #45a049;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

th, td {
    padding: 15px;
    text-align: left;
    border: 1px solid #ddd;
}

th {
    background-color: #f4f4f4;
    font-weight: bold;
}

tbody tr:hover {
    background-color: #f9f9f9;
}

#no-products-message {
    text-align: center;
    font-size: 1.2em;
    color: #888;
}

#search-btn.cancel {
    background-color: red;
    color: white;
}
